/* Var */
/* ===================== */
:root {
  --bg-primary: rgb(158, 158, 158);
  --bg-secondary: rgb(255, 255, 255);
  --bg-primary-image: url(../img/bg/cartographer-pattern.png);
  --bg-secondary-image: url(../img/bg/mirrored-squares.png);

  --main-color: rgb(0, 0, 0);
  --main-icon--bg: rgb(0, 0, 0);
  --main-icon--color: rgb(255, 255, 255);

  --order-receipt--border: black;
  --order-receipt--border: black;
}

:root.dark {
  --bg-primary: rgb(0, 68, 9);
  --bg-secondary: #176400;
  --bg-primary-image: url(../img/bg/gravel.png);
  --bg-secondary-image: url(../img/bg/buried.png);

  --main-color: rgb(255, 255, 255);
  --main-icon--bg: rgb(255, 255, 255);
  --main-icon--color: rgb(0, 0, 0);

  --order-receipt--border: white;
  --order-receipt--color: white;
}


/* Classes */
/* ===================== */
.fs-7 {
  font-size: 0.9rem !important;
}

.fs-8 {
  font-size: 0.8rem !important;
}

.cursor-pointer {
  cursor: pointer;
}